*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f0f0f;
    color:#fff;
    scroll-behavior:smooth;
}

/* NAV */
.nav{
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:25px 8%;
    z-index:1000;
    background:rgba(0,0,0,0.6);
    backdrop-filter:blur(8px);
}

.nav ul{
    display:flex;
    list-style:none;
}

.nav ul li{
    margin-left:30px;
}

.nav a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:0.3s;
}

.nav a:hover{
    color:#00f0ff;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
}

.hero-content{
    max-width:600px;
}

.hero h1{
    font-size:3.5rem;
    line-height:1.2;
}

.hero span{
    color:#00f0ff;
}

.hero p{
    margin:20px 0;
    font-size:1.1rem;
    color:#ccc;
}

.btn{
    display:inline-block;
    padding:12px 28px;
    border:2px solid #00f0ff;
    color:#00f0ff;
    text-decoration:none;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    background:#00f0ff;
    color:#000;
}

.hero-image img{
    width:350px;
    border-radius:20px;
    box-shadow:0 20px 60px rgba(0,0,0,0.6);
}

/* SECTIONS */
.section{
    padding:120px 8%;
}

.dark{
    background:#151515;
}

.container{
    max-width:1100px;
    margin:auto;
}

h2{
    font-size:2.5rem;
    margin-bottom:40px;
    color:#00f0ff;
}

/* SKILLS */
.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:25px;
}

.skill-card{
    padding:40px;
    background:#1f1f1f;
    text-align:center;
    border-radius:15px;
    transition:0.4s;
}

.skill-card:hover{
    transform:translateY(-10px);
    background:#00f0ff;
    color:#000;
}

/* PROJECTS */
.projects{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.project{
    background:#1a1a1a;
    padding:30px;
    border-radius:15px;
    transition:0.4s;
}

.project:hover{
    transform:scale(1.05);
    border:1px solid #00f0ff;
}
